@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* ---------------------------------- Navbar --------------------- */

.navbar {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

}

.logo {
    width: 60px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 75%;
  margin: 0px;
}

.home,
.about,
.products,
.contact {
  text-decoration: none;
/* color: white; */
color: black;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: absolute;
    top: 8px;
    left: 35px;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgb(49, 49, 49);
    left: 0;
    top: 100px;
    transition: all 0.5s ease-out;
    width: 100%;
  }

    .home,
    .about,
    .products,
    .contact {
    /* color: white; */
    color: black;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
    text-decoration: none;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
/* color: white; */
color: black;
    background-color: rgb(43, 42, 42);
    border: none;
    outline: none;
    top: 30px;
    right: 25px;
  }
}