 button{
    color: white;
    font-weight: 800;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border-width: 10px;
    border: 5px solid white;
    padding: .4rem 6rem;
   transition: all .3s ease;
}
button:hover{
    border-width: 10px;
}
@media screen and (max-width: 325px){
    button{
        font-weight: 600;
        font-size: .8rem;
        padding: .4rem 5rem;
    }
   
}