*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
.hero{

height: 70vh;
width: 100%;
cursor: pointer;
background-image: url('../../assets/logo.png');
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}


h1{
font-size: 4rem;
text-align: center;
color: white;

}