h2{
    font-size: 33px;
    line-height: 44px;
    letter-spacing: 0.4px;
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
    text-transform: uppercase;
}
.owner-section{
    height: 100vh;
    background-color: #f5f5f5;
    width: 100vw;
    display: flex;
    position: relative;
}
.owner-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
small{
    font-size: 50%;
    display: block;
}
.owner-info p{
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin: 0;
    max-width: 547px;
    padding: 2rem 0;
}
.owner-img{
    flex: 1;
    margin-top: -40px;
}
.owner-img img{
    height: 100%;
}
@media screen and (max-width: 800px){
    .owner-img{
        position: absolute;
        bottom: 10%;
        left: 30%;
    }
}
@media screen and (max-width: 640px){

   
}
@media screen and (max-width: 590px){

}