* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* ---------------------------------- Navbar --------------------- */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.logo {
    width: 100px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

.home,
.about,
.products,
.contact {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: absolute;
    top: 8px;
    left: 35px;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgb(238, 237, 237);
    left: 0;
    top: 100px;
    transition: all 0.5s ease-out;
    width: 100%;
  }

    .home,
    .about,
    .products,
    .contact {
    color: black;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: black;
    /* background-color: rgb(43, 42, 42); */
    border: none;
    outline: none;
    top: 30px;
    right: 25px;
  }
}